<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Posts</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h1>All posts</h1>

  <ul class='post'>
  <% for(var i=0; i < post.length; i++) {%>
    <li class='product'>
      <span><%= post[i].title %></span><br>
      <label><%= post[i].body %></label>
    </li>
  <% } %>
  </ul>
<br />

</body>
</html>
