<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Comments</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>All Comments</h2>
  <p class='post'>
    <span><%= post.title %></span>
  </p>

  <form action='/delete' method='POST'>
    <input type='hidden' name='title' value='<%=post.title%>'><br /><br />
    <button type='submit'>Delete</button>
  </form>

</body>
</html>
