<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Comments</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>All Comments</h2>
  <ul class='comments'>
  <% for(var i=0; i < comments.length; i++) {%>
    <li class='comments'>
      <span><%= comments[i].title %></span><br>
      <label><%= comments[i].body %></label>
    </li>
  <% } %>
  </ul>

</body>
</html>
